
ion-title {
  --color: #3880ff;
}
ion-header{
  background: #ffffff;
  border-color: #161b24;
  border-style: solid;
  border-width: 8px;
  color: #3880ff;
  
}
ion-toolbar{
  --background: linear-gradient(#acb0ec, #ffffff);
}

ion-tabs{
  background-color: #acb0ec;
  
  border-color: #3880ff;
  border-style: solid;
  border-width: 8px;
  color: #3880ff;
}
ion-tab-bar{
  --background: linear-gradient(#acb0ec, #ffffff);
}

.fondo{
  --background: linear-gradient(#acb0ec, #ffffff);  
}
.form {
  display: block;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
}
ion-button {
  --background: #acb0ec;

  --color: blue;

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --padding-top: 10px;
  --padding-bottom: 10px;
}