ion-card{
  background: linear-gradient(#d0d3ff, #ffffff);
}

  .imagen_duoc{
    margin-top: -5px;
    text-align: center;
    align-content: center;
    background: linear-gradient(#d0d3ff, #ffffff);
  }  
form{
  background: linear-gradient( #ffffff,#d0d3ff);
}